/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #614a4a;
}

.gallery {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gallery img {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.gallery img.active {
    opacity: 1;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
